.bod
{
	background: #75f542;
}

	.player1_div , .player2_div
	{
		background: rgb(240, 111, 111);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
.bo{
	background: rgb(255, 166, 0);
}
#ans
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
input{
	width:60%;
}